In [1]:
import os
import shutil
import sqlite3

import pandas as pd
import requests

In [3]:
db_url = "https://storage.googleapis.com/benchmarks-artifacts/travel-db/travel2.sqlite"
local_file = "../data/travel.sqlite"
backup_file = "../data/travel.backup.sqlite"

In [ ]:
# Download and save dataset
if not os.path.exists(local_file):
    response = requests.get(db_url)
    response.raise_for_status()
    with open(local_file, "wb") as f:
        f.write(response.content)
    shutil.copy(local_file, backup_file)

In [5]:
# establish a connection to an SQLite database
conn = sqlite3.connect(local_file)

# cursor object to execute SQL commands on the database
cursor = conn.cursor()

In [15]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)
tables

                    name
0         aircrafts_data
1          airports_data
2        boarding_passes
3               bookings
4                flights
5                  seats
6         ticket_flights
7                tickets
8            car_rentals
9                 hotels
10  trip_recommendations

In [16]:
tables = tables.name.to_list()

In [18]:
tdf = {}
for table in tables:
    tdf[table] = pd.read_sql(f"SELECT * FROM {table}", conn)

In [21]:
# latest actual departure time in the flights table (acts as the reference point for time adjustment)
example_time = pd.to_datetime(
    tdf["flights"]["actual_departure"].replace("\\N", pd.NaT)
).max()
example_time

Timestamp('2024-04-30 12:05:03.561731-0400', tz='UTC-04:00')

In [22]:
current_time = pd.to_datetime("now").tz_localize(example_time.tz)
current_time

Timestamp('2025-09-18 11:11:34.926655-0400', tz='UTC-04:00')

In [24]:
time_diff = current_time - example_time
time_diff

Timedelta('505 days 23:06:31.364924')

In [25]:
tdf["bookings"]["book_date"] = (
    pd.to_datetime(tdf["bookings"]["book_date"].replace("\\N", pd.NaT), utc=True)
    + time_diff
)

In [26]:
tdf["bookings"]["book_date"][0]

Timestamp('2025-08-08 00:27:34.926655+0000', tz='UTC')

In [27]:
datetime_columns = [
    "scheduled_departure",
    "scheduled_arrival",
    "actual_departure",
    "actual_arrival"
]

for column in datetime_columns:
        tdf["flights"][column] = (
            pd.to_datetime(tdf["flights"][column].replace("\\N", pd.NaT), utc=True)
            + time_diff
        )

In [28]:
tdf["flights"]["scheduled_departure"][0]

Timestamp('2025-10-14 07:05:34.926655+0000', tz='UTC')

In [ ]:
for table_name, df in tdf.items():
    df.to_sql(table_name, conn, if_exists="replace", index=False)